ul.employees li {
    list-style: none;
    padding: 5px;
    border: 1px solid silver;
    background-color: #f7dfa8;
}

.employee {
    margin: 5px;
    border: 1px solid silver;
    background-color: #f7dfa8;
}

.employee-content {
    padding: 5px;
}

.chart-container {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    height: 420px;
    width: calc(100% - 24px);
    border: 2px dashed #aaa;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
  }